annotated-doc
annotated-types
anyio
bcrypt
beautifulsoup4
certifi
cffi
charset-normalizer
click
colorama
cryptography
diskcache
distro
duckduckgo_search
easyocr
ecdsa
exceptiongroup
fastapi
filelock
fsspec
googlesearch-python
greenlet
grpcio
grpcio-tools
h11
h2
hf-xet
hpack
httpcore
httptools
httpx
huggingface-hub
hyperframe
idna
ImageIO
Jinja2
jiter
joblib
lazy_loader
llama_cpp_python
lxml
MarkupSafe
mpmath
networkx
ninja
nltk
numpy
openai
opencv-python-headless
packaging
passlib
pgvector
pillow
portalocker
primp
protobuf
psycopg2-binary
pyasn1
pyclipper
pydub
pycparser
pydantic
pydantic-settings
pydantic_core
pypdf
python-bidi
python-docx
python-dotenv
python-jose
python-multipart
pywin32
PyYAML
qdrant-client
regex
requests
rsa
safetensors
scikit-image
scikit-learn
scipy
sentence-transformers
sentencepiece
shapely
shellingham
six
sniffio
soupsieve
SpeechRecognition
SQLAlchemy
starlette
sympy
threadpoolctl
tifffile
tokenizers
torch
torchvision
tqdm
transformers
typer-slim
typing-inspection
typing_extensions
urllib3
uvicorn
watchfiles
websockets
werkzeug
